Missing charset in iCalendar events attached to reminders

**Describe the bug**
Indico 3.1 does not specify the `charset` parameter in an iCalendar event attached to reminder email.  More precisely, it seems to misname the parameter `encoding`.

 **To Reproduce**
Steps to reproduce the behavior:
1. Create an event
2. Add a reminder
3. Check the "Attach iCalendar file" option
4. Receive the reminder email
5. Some applications fail to handle the iCalendar event in the message

**Expected behavior**
The iCalendar event is expected to be displayed by the email application.

**Additional context**
[Section 3.1.4 of RFC5545](https://datatracker.ietf.org/doc/html/rfc5545#section-3.1.4) requires the `charset` Content-Type parameter in MIME transports.  See also [the errata](https://www.rfc-editor.org/errata/eid2038).  This rule was obeyed by previous releases of indico as the following MIME part shows:
```
--===============9109531323641687849==
Content-Type: text/calendar; charset="utf-8"
MIME-Version: 1.0
Content-Transfer-Encoding: 8bit
Content-Disposition: attachment; filename="event.ics"

BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//CERN//INDICO//EN
```
This is no longer the case as of version 3.1:
```
--===============5843370041342135681==
Content-Type: text/calendar; filename="event.ics"; encoding="utf-8";
 method="REQUEST"
MIME-Version: 1.0

BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//CERN//INDICO//EN
```
Another parameter called `encoding` is set to `utf-8` instead.