EmailBackend cannot be configured with use_ssl=True

**Is your feature request related to a problem?**
The [EmailBackend](https://github.com/indico/indico/blob/c1e6ec0c8c84745988e38c9b1768142a6feb9e0e/indico/util/emails/backend.py#L83-L107) already offers the option to configure the usage of SSL/TLS via a member variable . Unfortunately, this variable is not exposed throughout a configuration variable.  STARTTLS can be configured using the variable `SMTP_USE_TLS`. Our mail server does not accept STARTTLS and thus, sending mails cannot be configured without manual code changes.

**Describe the solution you'd like**
I'd like to introduce an optional configuration variable called `SMTP_USE_SSL` which is set to `False` by default and which is also not exposed throughout the setup process. This way, I would expect to not cause any irritating new behavior.

**Describe alternatives you've considered**
Currently, we patch the Indico code base manually. It would be nice, to not be required to do so in the future.

STARTTLS on the submission port (587) is the de-facto standard for authenticated email sending. I would recommend you to ask whoever is running your mail server to consider enabling it (this is usually trivial, especially compared to all the other things involved with operating a mail server).

However, if you sent a PR that adds a `SMTP_USE_SSL` option that does it properly both for sending emails from indico itself and from the error logger, we could include this in 2.3 (please also add it to the docs, since it lists all the config options).

Thanks for your answer! Let me again see, what I can achieve. Otherwise, I'll prepare a PR for that.

I also would love to see this feature implemented.

To add some background to this request:

[RFC 8314, section 3.3](https://www.rfc-editor.org/rfc/rfc8314.html#section-3.3) (from 2018) says:
> The STARTTLS mechanism on port 587 is relatively widely deployed due to the situation with port 465 (discussed in [Section 7.3](https://www.rfc-editor.org/rfc/rfc8314.html#section-7.3)).  This differs from IMAP and POP services where Implicit TLS is more widely deployed on servers than STARTTLS.  It is desirable to migrate core protocols used by MUA software to Implicit TLS over time, for consistency as well as for the additional reasons discussed in [Appendix A](https://www.rfc-editor.org/rfc/rfc8314.html#appendix-A).  However, to maximize the use of encryption for submission, it is desirable to support both mechanisms for Message Submission over TLS for a transition period of several years.  As a result, clients and servers SHOULD implement both STARTTLS on port 587 and Implicit TLS on port 465 for this transition period. Note that there is no significant difference between the security properties of STARTTLS on port 587 and Implicit TLS on port 465 if the implementations are correct and if both the client and the server are configured to require successful negotiation of TLS prior to Message Submission.

The assumption made in the last sentence ("... if the implementations are correct ...") is crucial since studies have shown that practice looks different:
* https://www.usenix.org/conference/usenixsecurity21/presentation/poddebniak
* https://www.heinlein-support.de/slac/2024/vortrag/sicherheit-von-starttls-e-mail-clients (in German)